
body {
  font-size: 22px;
  font-family: 'Patua One', cursive;

  /* font-family: 'Orbitron', sans-serif; */

  background-color: red;
  color: white;
}

.nav {
  border: 7px solid white;
  border-radius: 7px;
  /* font-size: 22px; */
}

.nav ul {
  list-style: none;
  background-color: #0c1e3a;
  text-align: center;
  padding: 5px;
  margin: 0;
}
.nav li {
  /* font-size: 1.2em; */
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #888;
  font-size: 22px;
}

.nav a {
  text-decoration: none;
  color: white;
  display: block;
  transition: 1.5s background-color;
}

.nav a:hover {
  background-color: #62b1ea;
}

/* .nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
} */



h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 600;

}

h2 {
    color: #62b1ea;
    font-size: 20px;
    text-align: center;
}

h3 {
  color: #62b1ea;
  font-size: 30px;
}





.box-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 95%;

  margin: 0 auto;
  padding: 20px;

  background-color: #0c1e3a;
  border-style: solid;
  border-width: 7px;
  border-color: #FFFFFF;
  border-radius: 7px;
}

.box-2 {
  background-color: inherit;
  width: 700px;

  margin: 20px;
}

.box-3 {
  background-color: inherit;
  height: 210px;
  width: 330px;
  margin: 20px;


  border-style: solid;
  border-width: 7px;
  border-color: #FFFFFF;
  border-radius: 7px;
}

.photo_1, .photo_2, .photo_3 {
  height: 210px;
  width: 330px;
}

























































@media only screen and (max-width: 340px) {
    body {
        background-color: lightblue;
    }
}






.line {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 7px;
  width: 150%;
}



.title {
    height: 700px;
    width: 100%;
    background-color: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.div0 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 254px;
  width: 854px;
  border-radius: 10px;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #62b1ea;
  height: 240px;
  width: 840px;
  border-radius: 10px;
}

.div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #56153a;
  height: 226px;
  width: 826px;
  border-radius: 10px;
}

.div3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c1e3a;
  height: 212px;
  width: 812px;
  border-radius: 10px;
}

.div4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: auto;
  height: 210px;
  width: 810px;
  border-radius: 10px;
}













@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }




















/*

.project_1_game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: red;
  border: 5px midnightblue solid;
  padding: 10px;
  border-radius: 20px;
}

.project_1_text {
  border: 5px midnightblue solid;
  padding: 10px;
  margin: 5px;
}

.project_1_photo {

  /* height: 200px;
  width: 200px;
  border: 5px midnightblue solid;
  margin: 5px; */
/* }

.photo_1 {
  height: 200px;
  border: 5px midnightblue solid;
  border-radius: 20px;
  margin: 5px;
} */ */
